
<footer class="site-footer" role="contentinfo">
    <ul class="social__list">

        <li class="social__item">
            <a href="https://www.facebook.com/tbmribeirao" title="Facebook" target="_blank">
                <i class="icon icon--facebook"></i>
            </a>
        </li>

        <li class="social__item">
            <a href="https://www.youtube.com/channel/UCqdQFCMyjT1QbhbfFR1IHIQ" title="Youtube" target="_blank">
                <i class="icon icon--youtube"></i>
            </a>
        </li>

        <li class="social__item">
            <a href="https://www.instagram.com/tbmribeirao/" title="Instagram" target="_blank">
                <i class="icon icon--instagram"></i>
            </a>
        </li>

        <li class="social__item">
            <a href="https://twitter.com/tbmribeirao" title="Twiter" target="_blank">
                <i class="icon icon--twitter"></i>
            </a>
        </li>


    </ul>
    <p class="site-info">
        Domingo &agrave;s 9h e 19h - Quarta &agrave;s 19h30min<br>

        Praça Rotary Club, 128 <span> - </span>
        City Ribeirão - Ribeirão Preto - SP
        &nbsp;<span>|</span>&nbsp;
        (16) 3103-3668
    </p>
    <p class="site-copyright">© 2020 Templo Batista Maranata.<span></span>Todos os direitos reservados.</p>
</footer>